<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/products">Products</a>
            <a href="/search-form">Search</a>
            <a href="/links">URL Builder</a>
        </nav>

        <h1>🛒 All Products</h1>

        <div class="grid">
            {% for id, product in products.items() %}
            <div class="card">
                <h2>{{ product["name"] }}</h2>
                <p>Category: {{ product["category"] }}</p>
                <p>Price: ₹{{ product["price"] }}</p>

                <a href="/category/{{ product['category'] }}/product/{{ id }}">
                    View Details
                </a>
            </div>
            {% endfor %}
        </div>

    </div>

</body>

</html>